{
    "extends": ["plugin:prettier/recommended"],
    "rules": {
      "max-len": [
        "error",
        {
          "code": 140
        }
      ],
      "prettier/prettier": "error"
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "plugins": ["prettier"],
    "env": {
      "es6": true
    }
}